/* BEGIN GLOBAL */
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}


.card_detail img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    padding: 0.5rem;
}

.card_individual {
    border: solid;
}

.card_detail {
    display: flex;
    padding: 0.5rem;
}

.class_services li {
    text-align: left;
}

/* END GLOBAL */

/* BEGIN NAVBAR */

/* END NAVBAR */

/* BEGIN SIDEBAR */

/* END SIDEBAR */
