/* BEGIN GLOBAL */

:root {
  --dark-one: #3a4a51;
  --dark-two: #4a675a;
  --neutral-one: #acb5a0;
  --neutral-two: #3a4a51;
  --gray-one: #f3f4f6;
  --gray-two: #f5f5f5;
  --gray-three: #ebebeb;
  --gray-four: #b2b2b2;
  --almost-black: #212121;
}

/* END GLOBAL */

/* BEGIN NAVBAR */

/* END NAVBAR */

/* BEGIN SIDEBAR */

/* END SIDEBAR */
